body {
  background-image: url(forest.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
  margin-left: 10px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0 10px;
  list-style: none;
  color: #4a4d53;
}
.wrapper {
  max-width: 600px;
  margin: 200px auto;
}
.app {
  padding: 20px;
  border: 1px solid #cdd0cb;
  border-radius: 6px;
  background-color: rgba(237, 237, 220, 0.75);
}
.overview {
  margin-bottom: 10px;
}
.main-icon img {
  margin-right: 15px;
  margin-bottom: 43px;
  height: 80px;
}
.main-icon .temperature {
  font-size: 64px;
  line-height: 1;
  text-align: left;
}
.main-icon .units {
  position: relative;
  font-size: 16px;
  top: -35px;
}
.description:first-letter {
  text-transform: capitalize;
}
.form-control {
  margin-left: 110px;
  border: 1px solid #668983;
}
.btn-outline-secondary {
  color: #668983;
}
.btn-outline-secondary:hover {
  background-color: #668983;
  color: rgba(237, 237, 220, 0.75);
  transition: all 200ms ease-in-out;
}
.units {
  text-decoration: none;
}
.units .active {
  color: #000;
  cursor: default;
  text-decoration: none;
}
.units .active:hover {
  color: #4a4d53;
  text-decoration: none;
}
